Repository emfoursolutions/trakbridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate-yaml, validate-requirements, validate-pyproject

validate-yaml:
  stage: validate
  image: python:${PYTHON_VERSION}-slim
  tags:
  - trakbridge-ci
  timeout: 5m
  before_script:
  - pip install --no-cache-dir pyyaml
  ...

validate-requirements:
  stage: validate
  image: python:${PYTHON_VERSION}-slim
  tags:
  - trakbridge-ci
  timeout: 15m
  before_script:
  ...

validate-pyproject:
  stage: validate
  image: python:${PYTHON_VERSION}-slim
  tags:
  - trakbridge-ci
  timeout: 15m
  before_script:
  ...

feat: implement queue management with bounded queues and batch transmission
  config/settings/performance.yaml
  plugins/base_plugin.py
  services/cot_service.py
  services/stream_manager.py
  services/stream_worker.py
Due: validate-yaml

feat: implement queue management with dedicated services and optimization
  config/queue_config.yaml
  services/cot_service_integration.py
  services/phase3_integration.py
  services/queue_manager.py
  services/queue_monitoring.py
  services/queue_performance_optimizer.py
Due: validate-yaml

feat: Updated the documentation to include the new performance configuration options
  CHANGELOG
  RELEASE_NOTES.md
  config/settings/performance.yaml
  docs/PERFORMANCE_CONFIGURATION.md
  tests/load/test_deepstate_load_scenarios.py
  tests/validation/test_phase4_simple_validation.py
  tests/validation/test_phase4_validation.py
Due: validate-yaml

feat: Implemented a new COT Service for improved Queue management
  services/cot_service_integration.py
Due: none

feat: migrate main COT service to QueuedCOTService architecture
  services/cot_service.py
  test_phase2_migration.py
Due: none

feat: add automatic queue flushing for stream restarts and configuration changes
  services/cot_service_integration.py
  services/stream_manager.py
  services/stream_operations_service.py
  tests/unit/test_config_change_restart.py
  tests/unit/test_queued_cot_service_compatibility.py
  tests/unit/test_stream_restart_queue_flush.py
Due: none

feat: enforce singleton pattern for QueuedCOTService
  services/cot_service.py
  services/cot_service_integration.py
  services/queue_manager.py
  tests/unit/test_queued_cot_service_compatibility.py
Due: none

feat: implement class-level worker tracking to prevent duplicate workers
  services/cot_service_integration.py
Due: none

feat: implement enhanced worker cleanup with comprehensive verification
  services/cot_service_integration.py
  services/stream_manager.py
Due: none

feat: implement phase 4 debug logging for worker lifecycle tracking
  services/cot_service_integration.py
  services/stream_manager.py
Due: none

feat: implement Phase 5 stream manager integration with comprehensive worker cleanup
  services/stream_manager.py
Due: none

fix: Updated cot_service.py to force singleton instance
  services/cot_service.py
Due: none

feat: eliminate EnhancedCOTService and consolidate configuration
  config/queue_config.yaml
  config/settings/performance.yaml
  plugins/base_plugin.py
  services/cot_service.py
  services/cot_service_integration.py
Due: validate-yaml

feat: migrated all tests across to the new cot service
  tests/unit/test_basic_parallel_cot.py
  tests/unit/test_basic_unit.py
  tests/unit/test_fallback_mechanisms.py
  tests/unit/test_parallel_configuration.py
  tests/unit/test_queued_cot_service_compatibility.py
Due: none

feat: complete Phase 4 EnhancedCOTService elimination
  docs/PERFORMANCE_CONFIGURATION.md
  services/cot_service.py
  services/cot_service_integration.py
  services/stream_worker.py
Due: none

feat: implement Redis pub/sub worker coordination for multi-worker deployments
  migrations/versions/eff2e20f64e2_add_config_version_field_to_streams_.py
  models/stream.py
  services/cot_service_integration.py
  services/stream_operations_service.py
  services/stream_worker.py
  services/worker_coordination_service.py
  test_config_bounce_fix.py
  tests/integration/test_stream_operations_coordination.py
  tests/unit/test_stream_version_tracking.py
  tests/unit/test_worker_coordination_service.py
Due: none

fix: added redis module to requirements.txt and pyproject.toml
  pyproject.toml
  requirements.txt
Due: validate-requirements, validate-pyproject

fix: typo in pyproject.toml
  pyproject.toml
Due: validate-pyproject

feat: implement Phase 2 Redis pub/sub worker coordination
  migrations/versions/add_stream_config_version.py
  migrations/versions/e9acb9c4d898_merge_multiple_heads_for_phase_2_worker_.py
  services/stream_manager.py
  services/stream_operations_service.py
  services/worker_coordination_service.py
  tests/integration/test_multi_worker_coordination.py
  tests/unit/test_worker_coordination_service.py
Due: none

fix: add missing database fields to detached stream copy
  docker-compose-dev.yml
  docker-compose.staging.yml
  docker-compose.yml
  migrations/DATABASE_COMPATIBILITY.md
  migrations/versions/add_stream_config_version.py
  migrations/versions/consolidated_config_version_migration.py
  migrations/versions/e9acb9c4d898_merge_multiple_heads_for_phase_2_worker_.py
  migrations/versions/eff2e20f64e2_add_config_version_field_to_streams_.py
  services/cot_service_integration.py
  services/database_manager.py
  services/phase3_integration.py
  services/worker_coordination_service.py
  tests/e2e/__init__.py
  tests/e2e/test_multi_worker_coordination.py
  tests/integration/test_multi_worker_coordination.py
Due: none

fix: updated tests to remove PersistentCOTService and replaced it with the new QueuedCOTService
  docker-compose-dev.yml
  docker-compose.staging.yml
  migrations/versions/add_stream_config_version.py
  migrations/versions/e9acb9c4d898_merge_multiple_heads_for_phase_2_worker_.py
  migrations/versions/eff2e20f64e2_add_config_version_field_to_streams_.py
  scripts/setup.sh
  services/phase3_integration.py
  tests/unit/test_both_fixes.py
  tests/unit/test_persistent_cot_multiserver.py
  tests/unit/test_queue_configuration.py
  tests/unit/test_queue_management.py
  tests/unit/test_queue_replacement.py
Due: none

fix: resolve unit test failures across multiple test suites
  services/cot_service_integration.py
  tests/unit/test_basic_parallel_cot.py
  tests/unit/test_both_fixes.py
  tests/unit/test_config_change_restart.py
  tests/unit/test_disabled_tracker_filtering.py
  tests/unit/test_fallback_mechanisms.py
Due: none

fix: resolve unit test failures across multiple test suites
  tests/unit/test_config_change_restart.py
Due: none

fix: gave tests real database access
  tests/unit/test_config_change_restart.py
Due: none

fix: resolve multiple test failures across core services
  services/cot_service_integration.py
  tests/unit/test_config_change_restart.py
  tests/unit/test_disabled_tracker_filtering.py
  tests/unit/test_fallback_mechanisms.py
  tests/unit/test_integration.py
Due: none

fix: updated integration tests to utilise new cotservice
  services/cot_service.py
  services/cot_service_integration.py
  services/phase3_integration.py
  services/stream_worker.py
  tests/integration/test_queue_performance.py
  tests/load/test_deepstate_load_scenarios.py
  tests/unit/test_authentication_config_loader.py
  tests/unit/test_both_fixes.py
  tests/unit/test_config_change_restart.py
  tests/unit/test_fallback_mechanisms.py
  tests/unit/test_persistent_cot_multiserver.py
  tests/unit/test_queue_configuration.py
  tests/unit/test_queue_management.py
  tests/validation/test_phase4_simple_validation.py
  tests/validation/test_phase4_validation.py
Due: none

fix: fixed spelling mistakes
  CHANGELOG
  README.md
Due: none

fix: readded deleted test script
  scripts/test-database.sh
Due: none

fix: fixed workers setting
  docker/entrypoint.sh
Due: none

config: move performance regression thresholds to performance.yaml
  config/settings/performance.yaml
  services/queue_performance_optimizer.py
Due: validate-yaml

perf: optimize Docker startup by fixing migration detection logic
  docker-compose.yml
  docker/entrypoint.sh
  services/auth/bootstrap_service.py
Due: none

fix: added container-aware shutdown protection to prevent streams from being marked inactive during graceful container shutdowns:
  services/stream_manager.py
  services/stream_worker.py
Due: none

fix: docker container startup issues
  app.py
Due: none

fix: optimised docker container startup
  docker/entrypoint.sh
Due: none

fix: maria db command tuning and healthcheck command fixed
  app.py
  config/monitor.py
  config/secrets.py
  docker-compose-dev.yml
  docker-compose.staging.yml
  docker-compose.yml
  docs/example_external_plugins/sample_custom_tracker.py
  docs/index.md
  plugins/deepstate_plugin.py
  pyproject.toml
  requirements.txt
  scripts/setup.sh
  services/auth/bootstrap_service.py
  services/queue_performance_optimizer.py
  services/stream_manager.py
  services/stream_worker.py
  tests/unit/test_circuit_breaker_integration.py
  tests/unit/test_services.py
Due: validate-requirements, validate-pyproject

fix: adjusted log level for warnings that should be debug
  services/queue_manager.py
  services/stream_manager.py
Due: none

fix: resolved SQLAlchemy relationship count error and improved TAK server logging
  services/cot_service_integration.py
  services/stream_manager.py
Due: none

fix: add StreamDTO compatibility fallback for multiserver stream operations
  services/stream_manager.py
Due: none

fix: if all trackers disabled an error was being thrown
  services/stream_worker.py
Due: none

Path conditions:
  validate-yaml: any of: config/**/*.yaml, config/**/*.yml
  validate-requirements: any of: requirements.txt, requirements.in
  validate-pyproject: any of: pyproject.toml
